<div class="content-header">
    <h2><i class="fas fa-puzzle-piece"></i> {{#if labelOverride}}{{labelOverride}}{{else}}{{ccLocalize "names.widgets" }}{{/if}}</h2>
</div>

<article class="cc-widgets">
    {{{this.widgetsToRender}}}
</article>


