<div class="content-header">
    <h2><i class="fas fa-globe"></i> {{ccLocalize "names.regions" }}</h2>
</div>
<div class="locations-grid">
  {{#each regions}}
    {{> "modules/campaign-codex/templates/partials/group-location-card.hbs" location=this}}
  {{/each}}
</div>