<div class="selected-content-section">
  {{#if taggedNPCs.length}}
    <div class="npc-section">
      <div class="npc-list">
        {{{npcGridHtml}}}
      </div>
    </div>
  {{else}}
    <p><em>No tagged NPCs found.</em></p>
  {{/if}}
</div>