<div class="selected-content-section">
  {{{dropToMapBtn}}}

  {{#if hasContent}}
    <div class="associates-list">
      {{{npcGridHtml}}}
    </div>
  {{else}}
    <p><em>No associates linked.</em></p>
  {{/if}}
</div>