<div class="content-header">
    <h2><i class="fas fa-tag"></i> {{ccLocalize "names.tags" }}</h2>
</div>
  {{#if taggedNPCs.length}}
    <div class="npc-section">
      <div class="npc-list">
        {{{npcGridHtml}}}
      </div>
    </div>
  {{/if}}
