<form class="editable flexcol" autocomplete="off">
    <div class="editor prosemirror">
          <div name="description" data-engine="prosemirror" data-collaborate="true" class="cc-editor editor-content{{#if_system 'dnd5e'}} dnd5e2-journal dnd5e dnd5e2 themed theme-light{{/if_system}}">
            {{{description}}}

        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="far fa-save"></i> Save & Close
        </button>
    </footer>
</form>

