<div class="quest-container">
  {{#if (not isGroupSheet)}}{{{header}}} {{/if}}
  <div class="quest-list">

    {{#if quests}}
      {{#each quests}}
        {{> "modules/campaign-codex/templates/partials/quest-card.hbs" quest=. isGM=../isGM isGroupSheet=../isGroupSheet doc=../doc systemClass=../systemClass}}
      {{/each}}
    {{else}}
      {{#unless isGM}}
        <p style="text-align: center; margin-top: 2rem;">No active quests.</p>
      {{/unless}}
    {{/if}}

  </div>
</div>