
<!-- <div class="quest-container"> -->
{{#if (not isGroupSheet)}}{{{header}}} {{/if}}
{{#unless hide}}
{{#if quests}}
<div class="quest-list">
      {{#each quests}}
        {{> "modules/campaign-codex/templates/partials/quest-card.hbs" quest=. isGM=../isGM isGroupSheet=../isGroupSheet doc=../doc systemClass=../systemClass}}
      {{/each}}
    {{else}}
      {{#unless isGM}}
      {{/unless}}
  </div>
{{/if}}
{{/unless}}
<!-- </div> -->
