<div class="campaign-codex hide-existing-tags  {{sheetType}}-sheet cc-scroll-fix">
  <div class="sheet-container ">
    {{!-- Sidebar --}}
    <aside class="sheet-container sheet-sidebar">
      {{!-- Header with Image and Title --}}
      <div class="sidebar-header">
        <div class="sheet-image" {{#if (not showImage)}}style="display:none"{{/if}}>
          <img src="{{#if customImage}}{{customImage}}{{/if}}" data-action="showPortraitArtwork" alt="{{document.name}}" onerror="this.src='{{defaultImage}}'"  />
            {{#if (and isGM userImage)}}
               <i class="fas fa-times-circle cc-remove-image" data-action="removeImage" title="Remove Image"></i>
            {{/if}}
        </div>

        <h1 class="sheet-title">{{document.name}}</h1>
        <div class="sub-title"><div class="type-wrapper"><i class="{{#if customIcon}}{{customIcon}}{{else}}{{#if tagMode}}{{getAsset 'icon' 'tag'}}{{else}}{{getAsset 'icon' sheetType}}{{/if}}{{/if}}" data-action="editIcon"></i> <div class="sheet-type">{{sheetTypeLabel}}</div></div>{{#if mapMarkerOverride}}<div class="map-marker"><i class="fas fa-map-marker"></i><div class="sheet-marker">{{#if mapMarker}}{{mapMarker}}{{else}}-{{/if}}</div></div>{{/if}}</div>
        {{#if (and isGM showImage)}}
          <i class="fas fa-camera image-change-btn" data-action="imageChange"></i>{{/if}} {{!-- Custom header content --}} {{{customHeaderContent}}}
      </div>

      {{!-- Navigation Tabs with Integrated Statistics --}}
      <!-- <div class="cc-scroll-group scrollable"> -->
      <div class="cc-scroll-group scrollable">

        <nav class="sidebar-tabs">
          {{#each tabs}}
          <div class="tab-item {{#if active}}active{{/if}}" data-tab="{{key}}" data-action="ccChangeTab">
            <i class="{{icon}}"></i>
            <span class="tab-label">{{label}}</span>
            {{#if (and ../isGM ../showStats statistic.view)}}
            <span class="tab-stat"> {{statistic.value}}</span>
            {{/if}}
          </div>
          {{/each}}
        </nav>
        {{{customFooterContent}}}
        {{!-- Tags --}}
        <div class="sidebar-links cc-tags">
            <h3 class="cc-tags">Tags
              <i class="fas fa-circle-plus" title="Create new Tag" data-action="createTag"></i><i class="fas fa-eye toggletags" data-action="toggleTags" title="Toggle Existing Tags"></i>

         </h3>
        <div class="link-tags">
            {{#each quickTags}}
            <div class="link-card npc-link tag-card" data-action="openNPC" data-uuid="{{uuid}}" title="{{name}}">
              <span class="link-name">{{name}}</span> {{#if ../isGM}}<i class="fas fa-trash remove-npc" data-action="removeNPC" data-uuid="{{uuid}}"></i>
              {{/if}}
            </div>
            {{/each}}{{#if (and isGM showTags)}}
            {{#each existingTags}}
            <div class="link-card existing-tag " data-action="linkTag" data-uuid="{{uuid}}" title="{{name}}">
              <span class="link-name">{{name}}</span>
            </div>
            {{/each}}{{/if}}
          </div>


        </div>

        {{!-- Widgets --}}
        <div class="sidebar-links cc-widgets" {{#if (not isGM)}}style="display:none"{{/if}}>
          <h3 class="cc-widgets">Widgets
            <i class="fas fa-eye" data-action="toggleWidgets" title="Toggle Available Widgets"></i>
          </h3>
          <div class="link-widgets">
            
            {{!-- Active Widgets --}}
            {{#each activewidget}}
            <div class="link-card widget-card" data-id="{{this.id}}">
              <span class="link-name">{{widgetName}} {{counter}}</span>
              {{#if ../isGM}}
              <i class="fas fa-circle-x" data-action="deactivateWidget" data-id="{{this.id}}"></i>
              {{/if}}
            </div>
            {{/each}}

            {{!-- Hidden Section --}}
            {{#if showWidgets}}

              {{!-- Inactive Widgets --}}
              {{#each inactivewidgets}}
              <div class="link-card widget-card inactive" >
                <span class="link-name" data-action="activateWidget" data-id="{{this.id}}">{{widgetName}} {{counter}}</span>
                {{#if ../isGM}}
                  <i class="fas fa-trash" data-action="deleteWidget" data-id="{{this.id}}" data-type="{{this.widgetName}}"></i>
                {{/if}}
              </div>
              {{/each}}

              {{!-- Available Widgets to Add --}}
              {{#if isGM}}
              {{#each availableWidgets}}
              <div class="link-card widget-card available" >
                <i class="fas fa-circle-plus"></i><span class="link-name" data-action="addWidget" data-name="{{this.name}}" title="Add {{this.name}}">{{this.name}}</span>
              </div>
              {{/each}}
              {{/if}}
            {{/if}}
          </div>
        </div>



        {{!-- Quick Links --}} {{#if quickLinks}}
        <div class="sidebar-links cc-quicklinks">
          <h3 class="cc-quicklinks">Quicklinks
            <i class="fas fa-eye" data-action="toggleQuicklinks" title="Toggle Quicklinks"></i>
          </h3>
          {{#if showQuicklinks}}
          <div class="link-tags">
            {{#each quickLinks}}
            <div class="link-card {{type}}-link" data-action="open{{capitalize type}}" data-uuid="{{uuid}}" title="{{name}}">
              <i class="{{#if iconOverride}}{{iconOverride}}{{else}}{{getIcon type}}{{/if}} link-icon"></i>
              <span class="link-name">{{name}}</span>
            </div>
            {{/each}}
          </div>
          {{/if}}
        </div>
        {{/if}}
      </div>
      {{#if isGM}}
         <i class="fas fa-cog cc-customise-tabs" title="Customise Tabs" data-action="editTabs"></i>
      {{/if}}
    </aside>

    {{!-- Main Content --}}
    <main class="sheet-main">
      <form class="sheet-form">
        {{!-- Tab Panels --}} {{#each tabs}}
        <section class="tab-panel {{key}} {{#if active}}active{{/if}}" data-tab="{{key}}" {{#if (eq key 'widgets')}}data-preserve-scroll{{/if}}>{{{content}}}</section>
        {{/each}}
      </form>
    </main>
  </div>
</div>


