<div class="{{cssClass}} campaign-codex group-sheet">
    <div class="sheet-container">
      <aside class="group-sidebar">
        <div class="sidebar-header">
          <div class="sheet-image">
            <img src="{{#if customImage}}{{customImage}}{{/if}}" 
                 alt="{{document.name}}" 
                 onerror="this.src='{{defaultImage}}'">
           {{#if (and isGM userImage)}}
                     <i class="fas fa-times-circle cc-remove-image" title="Remove Image" data-action="removeImage"></i>
            {{/if}}
          </div>
          
          <h1 class="sheet-title">{{document.name}}</h1>
        
            {{#if isGM}}
          <i class="fas fa-camera image-change-btn" data-action="imageChange"></i>{{/if}}
                  {{!-- Custom header content --}}
        {{{customHeaderContent}}}
        </div>

        <div class="group-tree-container">
          {{{leftPanel}}}
        </div>
      </aside>
      
      <main class="group-main">
          {{#if isShowingSelectedView}}
            {{{selectedSheetContent}}}
          {{else}}
            {{#each tabPanels}}
              <section class="group-tab-panel {{key}} {{#if active}}active{{/if}}" data-tab="{{key}}" {{#if (eq key 'widgets')}}data-preserve-scroll{{/if}}>
                {{{this.content}}}
              </section>
            {{/each}}
          {{/if}}
        </div>
      </main>
            <nav class="group-tabs">
          {{#each tabPanels}}
              <i class="{{icon}} group-tab vertical {{#if active}}active{{/if}}" data-tab="{{key}}" data-action="ccChangeTab" title="{{label}}"></i>
          {{/each}}
        </nav>
</div>
